

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet'>

        {% block head %}
        {% endblock %}
    </head>
    <body>         
        <nav>
            <div class="nav_mobile_container">
            <h1 id="nav_title"></h1>
            <button class="toggler" id="toggler" type="button">
                <div class="toggler_part"></div>
                <div class="toggler_part"></div>
                <div class="toggler_part"></div>
            </button>
            </div>
            <ul type="square" id="nav_menu">

                <li id="home_link"><a href = "{{ url_for('index') }}" class="nav_link">Home</a></li>    

                {% if login == "0" %}
                <li id="register_link"><a href = "{{ url_for('register') }}" class="nav_link">Register</a></li>
                <li id="login_link"><a href = "{{ url_for('signin') }}" class="nav_link">Sign in</a></li>
                {% endif %}

                {% if login == "1" %}
                <li id="register_link"><a href = "{{ url_for('profile') }}" class="nav_link">Profile</a></li>
                <li id="login_link"><a href = "{{ url_for('signout') }}" class="nav_link">Signout</a></li>
                {% endif %}

            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <script>
          
            // Nav bar toggle script

            var toggler_clicked = 0; 
            function clickHandler(){
                if (toggler_clicked % 2) {
                    document.getElementById('nav_menu').style.display = "none";
                } else{
                    document.getElementById('nav_menu').style.display = "block";
                }
                toggler_clicked++;
            }

            document.getElementById('toggler').addEventListener('click', clickHandler);

            if(document.getElementById('toggler').clicked == true){
                alert("Button Clicked!")
                document.getElementById('nav_menu').style.display = "block";
            }
        </script>

    </body>
</html>
