{% extends 'layout.html' %}
{% block head %}
    <title>{{ username }}</title>
    <style>
        .container{
            z-index: -1;
            background: rgba(255, 255, 255, 0);
        }

        .pfp img{
            width: 80px;
            height: 80px;
            margin: 15px;
        }

        .pfp{
            width: 110px;
            height: 110px;
            background-color: #000000;
            border: 2px solid #C625FF;
            border-radius: 100px;
            margin-top: 20px;
        }

        .profile_upper{
            display: flex;
            max-width: 500px;
            margin-top: 40px;
        }

        .profile_upper h1{
            margin-top: 40px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 10px;

            color: #FFFFFF;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .profile_upper p{
            font-family: 'Alata';
            font-style: normal;
            font-weight: 200;
            font-size: 15px;
            line-height: 0px;

            color: #FFFFFF;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .profile_upper .profile_upper_right{
            margin-top: 20px;
            margin-left: 10px;
        }

        .profile_lower{
            display: flex;
            justify-content: space-between;
            width: 97%;
            margin-right: auto;
            margin-top: 20px;
            height: 65vh;        
        }

        .profile_lower_content{
            background: rgba(3, 3, 3, 0.5);
            /* border: 1px solid #BD01FF; */
            border-radius: 30px;
        }

        .profile_lower_right{
            width: 30%;
            padding: 0px 20px;
            margin-top: 8px;
        }

        .profile_lower_left{
            width: 65%;
        }

        .profile_lower_top{
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
            justify-content: space-around;
        }

        .profile_lower_top_button{
            padding: 10px 20px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 18px;

            color: #FFFFFF;

            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }

        .active{
            background: #BD01FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.37);
            border-radius: 30px;
        }

        .profile_lower_bottom{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;            
            height: 65vh;
            overflow-y: scroll;
            margin-bottom: 20px;
        }

        .profile_lower_bottom_button > .bottom{
            margin-bottom: 20px;
        }

        .example::-webkit-scrollbar {
            display: none;
        }

        .profile_lower_bottom_button{
            width: 320px;
            height: 226px;

            background: #1E1E1E;
            border-radius: 30px;

            margin-top: 25px;
        }

        .profile_lower_center{
            height: 65vh;
            width: 2px;
            background-color: #BD01FF;
            margin-top: 15px;
        }

        .profile_lower_right_top{
            display: flex;
            justify-content: space-between
        }

        .profile_lower_right_top .text{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 24px;

            color: #FFFFFF;
        }

        .profile_lower_right_top .button{
            background: #030303;
            border: 1px solid #BD01FF;
            border-radius: 20px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 9px;
            line-height: 11px;

            color: #FFFFFF;

            width: 33px;
            padding: 5px 10px;
        }

        .profile_lower_top_right{
            display: flex;
            max-width: fit-content;
            margin: 0 auto;
            justify-content: space-around;
            margin-top: 35px;

        }

        .profile_lower_top_right > .profile_lower_top_button{
            padding-top: 5px;
            padding-bottom: 5px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 10px;
            line-height: 12px;

            color: #FFFFFF;

            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .profile_chart{
            max-width: 250px;
            max-height: 400px;
            margin-top: 30px;
        }


        


        h1, p{
            margin-bottom: 20px;
        }

        .upper{
            width: 99vw;
            height: 175px;
            background-image: url("{{ url_for('static', filename='images/profile_pics/banner.png') }}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            position: absolute;
            top: 70px;
            right: 0px;
            z-index: -1;
            padding: 20px 0px 20px 5px;
        }

        .profile_button{
            width: 100px;
            height: 25px;
            margin: 10px;
            border: 0px solid #000000;
            border-radius: 20px;
        }

        .profile_content{
            z-index: 1;
        }

        .profile_button_container{
            float: right;
            margin: 70px 130px 0px 0px;
        }

        .white{
            background-color: #ffffff;
        }

        .purple{
            background-color: #C625FF;
        }

        .upper_nav_container{
            display: none;
        }

        .profile_nav{
            display: flex;
        }

        .left_nav_icon{
            margin-left: 15px;
            max-width: 300px;
        }
    </style>
{% endblock %}

{% block content %}

<div class="upper_nav_container profile_nav">
    <div class="upper_nav_icon left_nav_icon">
        <a href = "{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/nav/logo_full.png') }}" ></img></a>
    </div>
    <div class="upper_nav_icon right_nav_icon">
        <a href = "{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/nav/chat.png') }}" ></img></a>
        <a href = "{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/nav/scarlett.png') }}" ></img></a>
    </div>
</div>

<div class="container">
    <div class="upper">
        <div class="profile_button_container">
            <div class="profile_button white" style=""></div>
            <div class="profile_button white" style=""></div>
            <div class="profile_button purple" style=""></div>
        </div>
    </div>
    <div class="profile_content">
        <div class="profile_upper">
            <div class="pfp" style=""><img src="{{ url_for('static', filename="images/profile_pics/scarlett.png") }}"></img></div>
            <div class="profile_upper_right">
                <h1>{{ username }}</h1>
                <p>Connecting with future!</p>
            </div>
        </div>
        <!-- <p>Name: {{ name }}</p>
        <p>Email: {{ email }}</p>
        <p>Interests: {{ interests }}</p>
        <p>Plan: {{ plan }}</p> -->
        <div class="profile_lower">
            <div class="profile_lower_content profile_lower_left">
                <div class="profile_lower_top">
                    <div class="profile_lower_top_button active">ALL POSTS</div>
                    <div class="profile_lower_top_button">ALL POSTS</div>
                    <div class="profile_lower_top_button">ALL POSTS</div>
                    <div class="profile_lower_top_button">ALL POSTS</div>
                </div>
                <div class="profile_lower_bottom">
                    <div class="profile_lower_bottom_button"></div>
                    <div class="profile_lower_bottom_button"></div>
                    <div class="profile_lower_bottom_button"></div>
                    <div class="profile_lower_bottom_button"></div>
                    <div class="profile_lower_bottom_button bottom"></div>
                    <div class="profile_lower_bottom_button bottom"></div>
                </div>
            </div>
            <div class="profile_lower_content profile_lower_center"></div>
            <div class="profile_lower_content profile_lower_right">
                <div class="profile_lower_right_top">
                    <div class="text">Insights</div>
                    <div class="button">View all</div>
                </div>
                <div class="profile_lower_top_right">
                    <div class="profile_lower_top_button active">This week</div>
                    <div class="profile_lower_top_button">Last Month</div>
                </div>
                <img class="profile_chart" src="{{ url_for('static', filename='images/profile_pics/chart.png') }}"
            </div>
        </div>
    </div>

{% for error in errors_lst %}
    <p class="errors">{{ error }}</p>
{% endfor %}
    <script>
        if (document.getElementById("conformation_text").innerHTML != ""){
            document.getElementById("register_box").style.display = "none";
            errors = document.getElementsByClassName("errors");
            for (i = 0; i < errors.length; i++) {
                errors[i].style.display = "none";
            }
            document.getElementById("conformation_button").style.display = "block";
            document.getElementById("conformation_title").style.display = "block";
            document.getElementById("conformation_text").style.display = "block";
        }
    </script>
{% endblock %}