{% extends 'layout.html' %}
{% block head %}
    <title>Register</title>
    <style>
        .container{
            margin-top: 20px;
        }

        nav{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="conformation_title"  id="conformation_title">{{ registration_complete_text }}</h1>
    <p class="conformation_text" id="conformation_text">{{ registration_complete_text }}</p>

    <div class="login_container" id="register_box">
        <div class="part image_side"></div>
        <div class="part right">
            <h2 class="register_title login_title">Register</h2>
            <form  method="POST" action = "" enctype = "multipart/form-data">
                {{ register_form.hidden_tag() }}
                <div class="input">
                    <label>Username: </label>
                    {{ register_form.username(class="input_field", placeholder="") }}
                </div>
                <div class="input">
                    <label>Name: </label>
                    {{ register_form.name(class="input_field", placeholder="") }}
                </div>
                <div class="input">
                    <label>Email Id: </label>
                    {{ register_form.email(class="input_field", placeholder="") }}
                </div>
                <div class="input">
                    <label>Interests: </label>
                    {{ register_form.interests(class="input_field", placeholder="") }}
                </div>
                <div class="input">
                    <label>Password: </label>
                    {{ register_form.password(class="input_field", placeholder="") }}
                </div>
                <div class="input">                
                    <label>Confirm Password: </label>
                    {{ register_form.confirm_password(class="input_field", placeholder="") }}
                </div>
        
                <div class="input">
                    <label for="pfp" class="btn">Select Profile Picture Here</label>
                    <input id="pfp" type = "file" name = "pfp" accept=".png,.jpg,.jpeg" style="visibility:hidden;" required/>
                </div>

                {{ register_form.submit(class="login_btn") }}
                <p>Already have an account? <a href="{{ url_for("signin", login="0") }}">Login now!</a></p>
            </form>
        </div>
    </div>
</div>
<div class="background"></div>
{% for error in errors_lst %}
    <p class="errors">{{ error }}</p>
{% endfor %}
    <script>
        if (document.getElementById("conformation_text").innerHTML != ""){
            document.getElementById("register_box").style.display = "none";
            errors = document.getElementsByClassName("errors");
            for (i = 0; i < errors.length; i++) {
                errors[i].style.display = "none";
            }
            document.getElementById("conformation_button").style.display = "block";
            document.getElementById("conformation_title").style.display = "block";
            document.getElementById("conformation_text").style.display = "block";
        }
    </script>
{% endblock %}
