{% extends 'layout.html' %}
{% block head %}
    <title>Login</title>
    <style>
        .container{
            margin-top: 20px;
            width: 90%;
            margin: 20px auto;
        }

        nav{
            display: none;
        }

        p{
            margin: 25px auto; max-width: 65%; font-size: 15px; width: fit-content;
        }

        label{
            display: none;
        }

        a{
            text-decoration: none; color: #BD01FF;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="conformation_title"  id="conformation_title">{{ registration_complete_text }}</h1>
    <p class="conformation_text" id="conformation_text">{{ registration_complete_text }}</p>

    <div class="login_container" id="register_box">
        <div class="part image_side" style="background-image: url('{{ url_for('static', filename="images/login_side.png") }}');"></div>
        <div class="part right">
            <h2 class="register_title login_title">Welcome Back!</h2>
            <form  method="POST" action = "" enctype = "multipart/form-data">
                {{ signin_form.hidden_tag() }}
                <div class="input">
                    <label>Username: </label>
                    {{ signin_form.username(class="input_field", placeholder="Username") }}
                </div>
                <div class="input">
                    <label>Password: </label>
                    {{ signin_form.password(class="input_field", placeholder="Password") }}
                </div>

                <p>Forgot password?</p>

                    {{ signin_form.submit(class="login_btn") }}
            </form>
            <p>Don't have an account? <a href="{{ url_for("register", login="0") }}">Join</a></p>
        </div>
    </div>
</div>
<div class="background"></div>
{% for error in errors_lst %}
    <p class="errors">{{ error }}</p>
{% endfor %}
    <script>
        if (document.getElementById("conformation_text").innerHTML != ""){
            document.getElementById("register_box").style.display = "none";
            errors = document.getElementsByClassName("errors");
            for (i = 0; i < errors.length; i++) {
                errors[i].style.display = "none";
            }
            document.getElementById("conformation_button").style.display = "block";
            document.getElementById("conformation_title").style.display = "block";
            document.getElementById("conformation_text").style.display = "block";
        }
    </script>
{% endblock %}
